{% extends 'base.html.twig' %}

{% block body %}

    <h1>QR: {{ qrCode }}</h1>

    <div class="bg-light text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Создать место</h2>
        </div>
        <div class="text-lg-start">
            {{ form(placeForm) }}
        </div>
    </div>

    <div class="bg-light  text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Создать упаковку</h2>
        </div>
        <div class="text-lg-start">
            {{ form(packageForm) }}
        </div>
    </div>

    <script>
        let $package = document.getElementById('package_packageTitle');
        let $item = document.getElementById('package_item');

        $item.onchange = function() {
            $package.value = $item.options[$item.selectedIndex].text;
        };
    </script>

{% endblock %}


